{
    "openapi": "3.0.0",
    "info": {
        "title": "Xero Files API",
        "description": "These endpoints are specific to Xero Files API",
        "termsOfService": "https://developer.xero.com/xero-developer-platform-terms-conditions/",
        "contact": {
            "name": "Xero Platform Team",
            "url": "https://developer.xero.com",
            "email": "api@xero.com"
        },
        "version": "19.0.0"
    },
    "servers": [
        {
            "url": "https://api.xero.com/files.xro/1.0/",
            "description": "Xero Files API"
        }
    ],
    "tags": [
        {
            "name": "Files",
            "description": "Operations available to regular developers"
        }
    ],
    "paths": {
        "/Files": {
            "get": {
                "tags": [
                    "Files"
                ],
                "summary": "Retrieves files",
                "operationId": "listFiles",
                "parameters": [
                    {
                        "name": "pagesize",
                        "in": "query",
                        "description": "pass an optional page size value",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "maximum": 100,
                            "type": "integer",
                            "example": 50
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "number of records to skip for pagination",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "minimum": 1,
                            "type": "integer",
                            "example": 2
                        }
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "description": "values to sort by",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string",
                            "example": "CreatedDateUTC",
                            "enum": [
                                "Name",
                                "Size",
                                "CreatedDateUTC"
                            ]
                        }
                    },
                    {
                        "name": "direction",
                        "in": "query",
                        "description": "sort direction",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string",
                            "example": "ASC",
                            "enum": [
                                "ASC",
                                "DESC"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "List of files",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/FileList"
                                },
                                "example": "{ \"TotalCount\": 100, \"Page\": 1, \"PerPage\": 2, \"Items\": [ { \"Name\": \"helo-heros.jpg\", \"MimeType\": \"application/jpg\", \"Size\": 2878711, \"CreatedDateUtc\": \"2021-02-10T16:02:54.9930000\", \"UpdatedDateUtc\": \"2021-02-10T16:02:54.9930000\", \"User\": { \"Name\": \"sid.maestre@xero.com\", \"FirstName\": \"Sidney\", \"LastName\": \"Maestre\", \"FullName\": \"Sidney Maestre\", \"Id\": \"740add2a-a703-4b8a-a670-1093919c2040\" }, \"FolderId\": \"bf924975-7097-46f2-a143-1ecfbab3c8c3\", \"Id\": \"3d413bfe-f40f-4807-b953-9a42f834ff15\" }, { \"Name\": \"helo-heros.jpg\", \"MimeType\": \"application/jpg\", \"Size\": 2878711, \"CreatedDateUtc\": \"2021-02-09T21:16:00.6130000\", \"UpdatedDateUtc\": \"2021-02-09T21:16:00.6130000\", \"User\": { \"Name\": \"sid.maestre@xero.com\", \"FirstName\": \"Sidney\", \"LastName\": \"Maestre\", \"FullName\": \"Sidney Maestre\", \"Id\": \"740add2a-a703-4b8a-a670-1093919c2040\" }, \"FolderId\": \"bf924975-7097-46f2-a143-1ecfbab3c8c3\", \"Id\": \"22f87409-cdfd-4813-a868-559481bcb052\" } ] }"
                            }
                        }
                    }
                },
                "security": [
                    {
                        "OAuth2": [
                            "files",
                            "files.read"
                        ]
                    }
                ]
            },
            "post": {
                "tags": [
                    "Files"
                ],
                "summary": "Uploads a File to the inbox",
                "operationId": "uploadFile",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/idempotencyKey"
                    }
                ],
                "requestBody": {
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "$ref": "#/components/schemas/FileUploadRequest"
                            }
                        }
                    },
                    "required": true,
                    "description": "File content and metadata to upload to the inbox"
                },
                "responses": {
                    "201": {
                        "description": "File uploaded to the inbox",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/FileObject"
                                },
                                "example": "{ \"Name\": \"helo-heros.jpg\", \"MimeType\": \"application/jpg\", \"Size\": 2878711, \"CreatedDateUtc\": \"2021-02-10T23:17:50.1930000\", \"UpdatedDateUtc\": \"2021-02-10T23:17:50.1930000\", \"User\": { \"Name\": \"sid.maestre@xero.com\", \"FirstName\": \"Sidney\", \"LastName\": \"Maestre\", \"FullName\": \"Sidney Maestre\", \"Id\": \"740add2a-a703-4b8a-a670-1093919c2040\" }, \"FolderId\": \"bf924975-7097-46f2-a143-1ecfbab3c8c3\", \"Id\": \"22f87409-cdfd-4813-a868-559481bcb052\" }"
                            }
                        }
                    },
                    "400": {
                        "description": "invalid input, object invalid",
                        "content": {
                            "application/json": {
                                "example": "[ { \"type\":\"Validation\", \"title\":\"Validation failure\", \"detail\":\"Extension: boo is not a valid File extension.\" } ]"
                            }
                        }
                    }
                },
                "security": [
                    {
                        "OAuth2": [
                            "files"
                        ]
                    }
                ]
            },
            "parameters": [
                {
                    "$ref": "#/components/parameters/requiredHeader"
                }
            ]
        },
        "/Files/{fileId}": {
            "get": {
                "tags": [
                    "Files"
                ],
                "summary": "Retrieves a file by a unique file ID",
                "operationId": "getFile",
                "parameters": [
                    {
                        "name": "fileId",
                        "in": "path",
                        "description": "File id for single object",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string",
                            "format": "uuid",
                            "example": "4ff1e5cc-9835-40d5-bb18-09fdb118db9c"
                        },
                        "x-snake": "file_id"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The requested file",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/FileObject"
                                },
                                "example": "{ \"Name\": \"helo-heros.jpg\", \"MimeType\": \"application/jpg\", \"Size\": 2878711, \"CreatedDateUtc\": \"2021-02-10T23:17:50.1930000\", \"UpdatedDateUtc\": \"2021-02-10T23:17:50.1930000\", \"User\": { \"Name\": \"sid.maestre@xero.com\", \"FirstName\": \"Sidney\", \"LastName\": \"Maestre\", \"FullName\": \"Sidney Maestre\", \"Id\": \"740add2a-a703-4b8a-a670-1093919c2040\" }, \"FolderId\": \"bf924975-7097-46f2-a143-1ecfbab3c8c3\", \"Id\": \"efd77bfc-7018-4da1-b251-7aa2d438382c\" }"
                            }
                        }
                    }
                },
                "security": [
                    {
                        "OAuth2": [
                            "files",
                            "files.read"
                        ]
                    }
                ]
            },
            "put": {
                "tags": [
                    "Files"
                ],
                "summary": "Update a file",
                "description": "Updates file properties of a single file",
                "operationId": "updateFile",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/idempotencyKey"
                    },
                    {
                        "name": "fileId",
                        "in": "path",
                        "description": "File id for single object",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string",
                            "format": "uuid",
                            "example": "4ff1e5cc-9835-40d5-bb18-09fdb118db9c"
                        },
                        "x-snake": "file_id"
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/FileObject"
                            },
                            "example": "{ \"FolderId\": \"bf924975-7097-46f2-a143-1ecfbab3c8c3\" }"
                        }
                    },
                    "required": true,
                    "description": "Updated file properties such as name and folder"
                },
                "responses": {
                    "200": {
                        "description": "The updated file",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/FileObject"
                                },
                                "example": "{ \"Name\": \"helo-heros.jpg\", \"MimeType\": \"application/jpg\", \"Size\": 2878711, \"CreatedDateUtc\": \"2021-02-10T23:17:50.1930000\", \"UpdatedDateUtc\": \"2021-02-10T23:58:54.1000000\", \"User\": { \"Name\": \"sid.maestre@xero.com\", \"FirstName\": \"Sidney\", \"LastName\": \"Maestre\", \"FullName\": \"Sidney Maestre\", \"Id\": \"740add2a-a703-4b8a-a670-1093919c2040\" }, \"FolderId\": \"bf924975-7097-46f2-a143-1ecfbab3c8c3\", \"Id\": \"efd77bfc-7018-4da1-b251-7aa2d438382c\" }"
                            }
                        }
                    },
                    "400": {
                        "description": "invalid input, object invalid",
                        "content": {
                            "application/json": {
                                "example": "[ { \"type\":\"Rename\", \"title\":\"Rename failed\", \"detail\":\"Unable to rename efd77bfc-7018-4da1-b251-7aa2d438382c to FooBar\" } ]"
                            }
                        }
                    }
                },
                "security": [
                    {
                        "OAuth2": [
                            "files"
                        ]
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Files"
                ],
                "summary": "Deletes a specific file",
                "description": "Delete a specific file",
                "operationId": "deleteFile",
                "parameters": [
                    {
                        "name": "fileId",
                        "in": "path",
                        "description": "File id for single object",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string",
                            "format": "uuid",
                            "example": "4ff1e5cc-9835-40d5-bb18-09fdb118db9c"
                        },
                        "x-snake": "file_id"
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Successful deletion - return response 204 no content",
                        "x-isEmpty": true
                    }
                },
                "security": [
                    {
                        "OAuth2": [
                            "files"
                        ]
                    }
                ]
            },
            "parameters": [
                {
                    "$ref": "#/components/parameters/requiredHeader"
                }
            ]
        },
        "/Files/{folderId}": {
            "post": {
                "tags": [
                    "Files"
                ],
                "summary": "Uploads a File to a specific folder",
                "operationId": "uploadFileToFolder",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/idempotencyKey"
                    },
                    {
                        "name": "folderId",
                        "in": "path",
                        "description": "pass required folder id to save file to specific folder",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string",
                            "format": "uuid",
                            "example": "4ff1e5cc-9835-40d5-bb18-09fdb118db9c"
                        },
                        "x-snake": "folder_id"
                    }
                ],
                "requestBody": {
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "$ref": "#/components/schemas/FileUploadRequest"
                            }
                        }
                    },
                    "required": true,
                    "description": "File content and metadata to upload to the folder"
                },
                "responses": {
                    "201": {
                        "description": "File uploaded to the folder",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/FileObject"
                                },
                                "example": "{ \"Name\": \"helo-heros.jpg\", \"MimeType\": \"application/jpg\", \"Size\": 2878711, \"CreatedDateUtc\": \"2021-02-10T23:17:50.1930000\", \"UpdatedDateUtc\": \"2021-02-10T23:17:50.1930000\", \"User\": { \"Name\": \"sid.maestre@xero.com\", \"FirstName\": \"Sidney\", \"LastName\": \"Maestre\", \"FullName\": \"Sidney Maestre\", \"Id\": \"740add2a-a703-4b8a-a670-1093919c2040\" }, \"FolderId\": \"bf924975-7097-46f2-a143-1ecfbab3c8c3\", \"Id\": \"22f87409-cdfd-4813-a868-559481bcb052\" }"
                            }
                        }
                    },
                    "400": {
                        "description": "invalid input, object invalid",
                        "content": {
                            "application/json": {
                                "example": "[ { \"type\":\"Validation\", \"title\":\"Validation failure\", \"detail\":\"Extension: boo is not a valid File extension.\" } ]"
                            }
                        }
                    }
                },
                "security": [
                    {
                        "OAuth2": [
                            "files"
                        ]
                    }
                ]
            },
            "parameters": [
                {
                    "$ref": "#/components/parameters/requiredHeader"
                }
            ]
        },
        "/Files/{fileId}/Content": {
            "get": {
                "tags": [
                    "Files"
                ],
                "summary": "Retrieves the content of a specific file",
                "description": "By passing in the appropriate options, retrieve data for specific file",
                "operationId": "getFileContent",
                "parameters": [
                    {
                        "name": "fileId",
                        "in": "path",
                        "description": "File id for single object",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string",
                            "format": "uuid",
                            "example": "4ff1e5cc-9835-40d5-bb18-09fdb118db9c"
                        },
                        "x-snake": "file_id"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Content of the file as a byte array",
                        "content": {
                            "application/octet-stream": {
                                "schema": {
                                    "type": "string",
                                    "format": "binary"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "OAuth2": [
                            "files",
                            "files.read"
                        ]
                    }
                ]
            },
            "parameters": [
                {
                    "$ref": "#/components/parameters/requiredHeader"
                }
            ]
        },
        "/Files/{fileId}/Associations": {
            "get": {
                "tags": [
                    "Files"
                ],
                "summary": "Retrieves a specific file associations",
                "description": "By passing in the appropriate options, \n",
                "operationId": "listFileAssociations",
                "parameters": [
                    {
                        "name": "fileId",
                        "in": "path",
                        "description": "File id for single object",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string",
                            "format": "uuid",
                            "example": "4ff1e5cc-9835-40d5-bb18-09fdb118db9c"
                        },
                        "x-snake": "file_id"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "List of associations of the file",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Association"
                                    }
                                },
                                "example": "[ { \"FileId\":\"6beccb4a-0d7d-4518-93f3-e0cd1dccb254\", \"ObjectId\":\"1270bf7c-5d18-473a-9231-1e36c4bd33ed\", \"ObjectType\":\"Business\", \"ObjectGroup\":\"Contact\" } ]"
                            }
                        }
                    }
                },
                "security": [
                    {
                        "OAuth2": [
                            "files",
                            "files.read"
                        ]
                    }
                ]
            },
            "post": {
                "tags": [
                    "Files"
                ],
                "summary": "Creates a new file association",
                "description": "By passing in the appropriate options, you can create a new folder",
                "operationId": "createFileAssociation",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/idempotencyKey"
                    },
                    {
                        "name": "fileId",
                        "in": "path",
                        "description": "File id for single object",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string",
                            "format": "uuid",
                            "example": "4ff1e5cc-9835-40d5-bb18-09fdb118db9c"
                        },
                        "x-snake": "file_id"
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Association"
                            },
                            "example": "{ \"ObjectId\": \"1270bf7c-5d18-473a-9231-1e36c4bd33ed\", \"ObjectGroup\": \"Contact\", \"ObjectType\": \"Business\" }"
                        }
                    },
                    "required": true,
                    "description": "Association linking the file to an object"
                },
                "responses": {
                    "201": {
                        "description": "The created file association",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Association"
                                },
                                "example": "{ \"FileId\": \"6beccb4a-0d7d-4518-93f3-e0cd1dccb254\", \"ObjectId\": \"1270bf7c-5d18-473a-9231-1e36c4bd33ed\", \"ObjectType\": \"Business\", \"ObjectGroup\": \"Contact\" }"
                            }
                        }
                    },
                    "400": {
                        "description": "invalid input, object invalid",
                        "content": {
                            "application/json": {
                                "example": "[ { \"type\":\"Validation\", \"title\":\"Validation failure\", \"detail\":\"Object is not a Account\" } ]"
                            }
                        }
                    }
                },
                "security": [
                    {
                        "OAuth2": [
                            "files"
                        ]
                    }
                ]
            },
            "parameters": [
                {
                    "$ref": "#/components/parameters/requiredHeader"
                }
            ]
        },
        "/Files/{fileId}/Associations/{objectId}": {
            "delete": {
                "tags": [
                    "Files"
                ],
                "summary": "Deletes an existing file association",
                "description": "By passing in the appropriate options, you can create a new folder",
                "operationId": "deleteFileAssociation",
                "parameters": [
                    {
                        "name": "fileId",
                        "in": "path",
                        "description": "File id for single object",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string",
                            "format": "uuid",
                            "example": "4ff1e5cc-9835-40d5-bb18-09fdb118db9c"
                        },
                        "x-snake": "file_id"
                    },
                    {
                        "name": "objectId",
                        "in": "path",
                        "description": "Object id for single object",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string",
                            "format": "uuid",
                            "example": "4ff1e5cc-9835-40d5-bb18-09fdb118db9c"
                        },
                        "x-snake": "object_id"
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Successful deletion - return response 204 no content",
                        "x-isEmpty": true
                    }
                },
                "security": [
                    {
                        "OAuth2": [
                            "files"
                        ]
                    }
                ]
            },
            "parameters": [
                {
                    "$ref": "#/components/parameters/requiredHeader"
                }
            ]
        },
        "/Associations/{objectId}": {
            "get": {
                "tags": [
                    "Files"
                ],
                "summary": "Retrieves an association object using a unique object ID",
                "description": "By passing in the appropriate options, you can retrieve an association",
                "operationId": "listObjectAssociations",
                "parameters": [
                    {
                        "name": "objectId",
                        "in": "path",
                        "description": "Object id for single object",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string",
                            "format": "uuid",
                            "example": "4ff1e5cc-9835-40d5-bb18-09fdb118db9c"
                        },
                        "x-snake": "object_id"
                    },
                    {
                        "name": "pagesize",
                        "in": "query",
                        "description": "pass an optional page size value",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "maximum": 100,
                            "type": "integer",
                            "example": 50
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "number of records to skip for pagination",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "minimum": 1,
                            "type": "integer",
                            "example": 2
                        }
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "description": "values to sort by",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string",
                            "example": "Associations/{ObjectId}?sort=CreatedDateUtc",
                            "default": "CreatedDateUtc",
                            "enum": [
                                "Name",
                                "Size",
                                "CreatedDateUtc",
                                "AssociationDateUtc"
                            ]
                        }
                    },
                    {
                        "name": "direction",
                        "in": "query",
                        "description": "direction to sort by",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string",
                            "example": "Associations/{ObjectId}?sort=CreatedDateUtc&direction=DESC",
                            "enum": [
                                "ASC",
                                "DESC"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "List of associations of the object",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Association"
                                    }
                                },
                                "example": "[ { \"SendWithObject\":false, \"Name\":\"testfile.pdf\", \"Size\":12357, \"CreatedDateUtc\":\"2020-12-10T01:22:00.0000000\", \"AssociationDateUtc\":\"2020-12-10T01:22:00.0000000\", \"FileId\":\"6beccb4a-0d7d-4518-93f3-e0cd1dccb254\", \"ObjectId\":\"1270bf7c-5d18-473a-9231-1e36c4bd33ed\", \"ObjectType\":\"Business\", \"ObjectGroup\":\"Contact\" } ]"
                            }
                        }
                    }
                },
                "security": [
                    {
                        "OAuth2": [
                            "files",
                            "files.read"
                        ]
                    }
                ]
            },
            "parameters": [
                {
                    "$ref": "#/components/parameters/requiredHeader"
                }
            ]
        },
        "/Associations/Count": {
            "get": {
                "tags": [
                    "Files"
                ],
                "summary": "Retrieves a count of associations for a list of objects.",
                "description": "By passing in the appropriate options, you can retrieve the association count for objects",
                "operationId": "countAssociations",
                "parameters": [
                    {
                        "name": "ObjectIds",
                        "in": "query",
                        "description": "A comma-separated list of object ids",
                        "required": true,
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "format": "uuid",
                                "example": "1270bf7c-5d18-473a-9231-1e36c4bd33ed"
                            }
                        },
                        "x-ballerina-name": "objectIds"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Association counts keyed by object ID",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "example": "{ \"19d4fc59-e799-410f-912b-03d4ab294d73\": 2, \"82195976-5175-45d4-926e-807ff10892e7\": 1, \"a8547af2-2900-4879-98b8-f1a780c78feb\": 0}"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "OAuth2": [
                            "files",
                            "files.read"
                        ]
                    }
                ]
            },
            "parameters": [
                {
                    "$ref": "#/components/parameters/requiredHeader"
                }
            ]
        },
        "/Folders": {
            "get": {
                "tags": [
                    "Files"
                ],
                "summary": "Retrieves folders",
                "description": "By passing in the appropriate options, you can search for available folders",
                "operationId": "listFolders",
                "parameters": [
                    {
                        "name": "sort",
                        "in": "query",
                        "description": "values to sort by",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string",
                            "example": "CreatedDateUTC DESC",
                            "enum": [
                                "Name",
                                "Size",
                                "CreatedDateUTC"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "List of folders",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Folder"
                                    }
                                },
                                "example": "[ { \"Name\":\"Inbox\", \"FileCount\":14, \"Email\":\"xero.inbox.jpf4.6oo29retajkhtfus@xerofiles.com\", \"IsInbox\":true, \"Id\":\"bf924975-7097-46f2-a143-1ecfbab3c8c3\" }, { \"Name\":\"Contracts\", \"FileCount\":7, \"IsInbox\":false, \"Id\":\"554ff1ad-4b94-4266-9b45-e29bcb75e6bf\" } ]"
                            }
                        }
                    }
                },
                "security": [
                    {
                        "OAuth2": [
                            "files",
                            "files.read"
                        ]
                    }
                ]
            },
            "post": {
                "tags": [
                    "Files"
                ],
                "summary": "Creates a new folder",
                "description": "By passing in the appropriate properties, you can create a new folder",
                "operationId": "createFolder",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/idempotencyKey"
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Folder"
                            },
                            "example": "{ \"Name\": \"My Docs\" }"
                        }
                    },
                    "required": true,
                    "description": "Properties of the folder to create"
                },
                "responses": {
                    "200": {
                        "description": "The created folder",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Folder"
                                },
                                "example": "{ \"Name\": \"My Docs\", \"FileCount\": 0, \"IsInbox\": false, \"Id\": \"913970ad-8c8e-4666-8294-35b9cac23206\" }"
                            }
                        }
                    },
                    "400": {
                        "description": "invalid input, object invalid",
                        "content": {
                            "application/json": {
                                "example": "[ { \"type\":\"Validation\", \"title\":\"Validation failure\", \"detail\":\"Name contains one or more bad characters\" } ]"
                            }
                        }
                    }
                },
                "security": [
                    {
                        "OAuth2": [
                            "files"
                        ]
                    }
                ]
            },
            "parameters": [
                {
                    "$ref": "#/components/parameters/requiredHeader"
                }
            ]
        },
        "/Folders/{folderId}": {
            "get": {
                "tags": [
                    "Files"
                ],
                "summary": "Retrieves specific folder by using a unique folder ID",
                "description": "By passing in the appropriate ID, you can search for specific folder",
                "operationId": "getFolder",
                "parameters": [
                    {
                        "name": "folderId",
                        "in": "path",
                        "description": "Folder id for single object",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string",
                            "format": "uuid",
                            "example": "4ff1e5cc-9835-40d5-bb18-09fdb118db9c"
                        },
                        "x-snake": "folder_id"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The requested folder",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Folder"
                                },
                                "example": "{ \"Name\": \"My Docs\", \"FileCount\": 0, \"IsInbox\": false, \"Id\": \"4c5f3fe4-2516-4863-ac88-3029351773bf\" }"
                            }
                        }
                    }
                },
                "security": [
                    {
                        "OAuth2": [
                            "files",
                            "files.read"
                        ]
                    }
                ]
            },
            "put": {
                "tags": [
                    "Files"
                ],
                "summary": "Updates an existing folder",
                "description": "By passing in the appropriate ID and properties, you can update a folder",
                "operationId": "updateFolder",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/idempotencyKey"
                    },
                    {
                        "name": "folderId",
                        "in": "path",
                        "description": "Folder id for single object",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string",
                            "format": "uuid",
                            "example": "4ff1e5cc-9835-40d5-bb18-09fdb118db9c"
                        },
                        "x-snake": "folder_id"
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Folder"
                            },
                            "example": "{ \"Name\": \"Your Docs\" }"
                        }
                    },
                    "required": true,
                    "description": "Updated properties of the folder"
                },
                "responses": {
                    "200": {
                        "description": "The updated folder",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Folder"
                                },
                                "example": "{ \"Name\": \"Your Docs\", \"FileCount\": 0, \"IsInbox\": false, \"Id\": \"4c5f3fe4-2516-4863-ac88-3029351773bf\" }"
                            }
                        }
                    },
                    "400": {
                        "description": "invalid input, object invalid",
                        "content": {
                            "application/json": {
                                "example": "[ { \"type\":\"Validation\", \"title\":\"Validation failure\", \"detail\":\"Name contains one or more bad characters\" } ]"
                            }
                        }
                    }
                },
                "security": [
                    {
                        "OAuth2": [
                            "files"
                        ]
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Files"
                ],
                "summary": "Deletes a folder",
                "description": "By passing in the appropriate ID, you can delete a folder",
                "operationId": "deleteFolder",
                "parameters": [
                    {
                        "name": "folderId",
                        "in": "path",
                        "description": "Folder id for single object",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string",
                            "format": "uuid",
                            "example": "4ff1e5cc-9835-40d5-bb18-09fdb118db9c"
                        },
                        "x-snake": "folder_id"
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Successful deletion - return response 204 no content",
                        "x-isEmpty": true
                    }
                },
                "security": [
                    {
                        "OAuth2": [
                            "files"
                        ]
                    }
                ]
            },
            "parameters": [
                {
                    "$ref": "#/components/parameters/requiredHeader"
                }
            ]
        },
        "/Inbox": {
            "get": {
                "tags": [
                    "Files"
                ],
                "summary": "Retrieves inbox folder",
                "description": "Search for the user inbox",
                "operationId": "getInbox",
                "responses": {
                    "200": {
                        "description": "The inbox folder",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Folder"
                                },
                                "example": "{ \"Name\": \"Inbox\", \"FileCount\": 14, \"Email\": \"xero.inbox.jpf4.6oo29retajkhtfus@xerofiles.com\", \"IsInbox\": true, \"Id\": \"bf924975-7097-46f2-a143-1ecfbab3c8c3\" }"
                            }
                        }
                    }
                },
                "security": [
                    {
                        "OAuth2": [
                            "files",
                            "files.read"
                        ]
                    }
                ]
            },
            "parameters": [
                {
                    "$ref": "#/components/parameters/requiredHeader"
                }
            ]
        }
    },
    "components": {
        "schemas": {
            "ObjectType": {
                "type": "string",
                "description": "The Object Type",
                "enum": [
                    "Unknown",
                    "Accpay",
                    "AccPayCredit",
                    "AccPayPayment",
                    "AccRec",
                    "AccRecCredit",
                    "AccRecPayment",
                    "Adjustment",
                    "ApCreditPayment",
                    "ApOverPayment",
                    "ApOverPaymentPayment",
                    "ApOverPaymentSourcePayment",
                    "ApPrepayment",
                    "ApPrepaymentPayment",
                    "ApPrepaymentSourcePayment",
                    "ArCreditPayment",
                    "ArOverPayment",
                    "ArOverpaymentPayment",
                    "ArOverpaymentSourcePayment",
                    "ArPrepayment",
                    "ArPrepaymentPayment",
                    "ArPrepaymentSourcePayment",
                    "CashPaid",
                    "CashRec",
                    "ExpPayment",
                    "ManJournal",
                    "PurchaseOrder",
                    "Receipt",
                    "Transfer",
                    "Account",
                    "Contact",
                    "Business",
                    "Employee",
                    "Person",
                    "User",
                    "Org",
                    "FixedAsset",
                    "PayRun",
                    "PriceListItem",
                    "Bank",
                    "Current",
                    "Equity",
                    "Expense",
                    "Fixed",
                    "Liability",
                    "Prepayment",
                    "Revenue",
                    "Sales",
                    "Overheads",
                    "Depreciatn",
                    "OtherIncome",
                    "DirectCosts",
                    "Currliab",
                    "Termliab",
                    "NonCurrent",
                    "SalesQuote"
                ]
            },
            "User": {
                "required": [
                    "Id"
                ],
                "type": "object",
                "properties": {
                    "FirstName": {
                        "type": "string",
                        "description": "First name of user",
                        "example": "John",
                        "x-ballerina-name": "firstName"
                    },
                    "FullName": {
                        "type": "string",
                        "description": "Last name of user",
                        "example": "Smith",
                        "x-ballerina-name": "fullName"
                    },
                    "Id": {
                        "type": "string",
                        "description": "Xero identifier",
                        "format": "uuid",
                        "example": "4ff1e5cc-9835-40d5-bb18-09fdb118db9c",
                        "x-ballerina-name": "id"
                    },
                    "LastName": {
                        "type": "string",
                        "description": "Last name of user",
                        "example": "Smith",
                        "x-ballerina-name": "lastName"
                    },
                    "Name": {
                        "type": "string",
                        "description": "Key is Name, but returns Email address of user who created the file",
                        "example": "john.smith@mail.com",
                        "x-ballerina-name": "name"
                    }
                }
            },
            "Association": {
                "type": "object",
                "properties": {
                    "CreatedDateUtc": {
                        "type": "string",
                        "description": "The date the file was created (UTC). Note- The CreatedDateUtc element is only returned when using /Associations/{ObjectId} endpoint",
                        "format": "date-time",
                        "x-ballerina-name": "createdDateUtc"
                    },
                    "ObjectType": {
                        "allOf": [
                            {
                                "$ref": "#/components/schemas/ObjectType"
                            }
                        ],
                        "x-ballerina-name": "objectType"
                    },
                    "ObjectId": {
                        "type": "string",
                        "description": "The identifier of the object that the file is being associated with (e.g. InvoiceID, BankTransactionID, ContactID)",
                        "format": "uuid",
                        "x-ballerina-name": "objectId"
                    },
                    "Size": {
                        "type": "integer",
                        "description": "The size of the associated file in bytes. Note- The Size element is only returned when using /Associations/{ObjectId} endpoint",
                        "example": 12357,
                        "x-ballerina-name": "size"
                    },
                    "ObjectGroup": {
                        "allOf": [
                            {
                                "$ref": "#/components/schemas/ObjectGroup"
                            }
                        ],
                        "x-ballerina-name": "objectGroup"
                    },
                    "AssociationDateUtc": {
                        "type": "string",
                        "description": "The date the file was associated with the object (UTC). Note- The AssociationDateUtc element is only returned when using /Associations/{ObjectId} endpoint",
                        "format": "date-time",
                        "x-ballerina-name": "associationDateUtc"
                    },
                    "FileId": {
                        "type": "string",
                        "description": "The unique identifier of the file",
                        "format": "uuid",
                        "x-ballerina-name": "fileId"
                    },
                    "SendWithObject": {
                        "type": "boolean",
                        "description": "Boolean flag to determines whether the file is sent with the document it is attached to on client facing communications. Note- The SendWithObject element is only returned when using /Associations/{ObjectId} endpoint",
                        "example": true,
                        "x-ballerina-name": "sendWithObject"
                    },
                    "Name": {
                        "type": "string",
                        "description": "The name of the associated file. Note- The Name element is only returned when using /Associations/{ObjectId} endpoint",
                        "example": "Test.pdf",
                        "x-ballerina-name": "name"
                    }
                }
            },
            "ObjectGroup": {
                "type": "string",
                "description": "The Object Group that the object is in. These roughly correlate to the endpoints that can be used to retrieve the object via the core accounting API",
                "enum": [
                    "Account",
                    "BankTransaction",
                    "Contact",
                    "CreditNote",
                    "Invoice",
                    "Item",
                    "ManualJournal",
                    "Overpayment",
                    "Payment",
                    "Prepayment",
                    "Quote",
                    "Receipt"
                ]
            },
            "FileUploadRequest": {
                "required": [
                    "body",
                    "filename",
                    "name"
                ],
                "type": "object",
                "properties": {
                    "filename": {
                        "type": "string"
                    },
                    "name": {
                        "type": "string",
                        "description": "exact name of the file you are uploading"
                    },
                    "mimeType": {
                        "type": "string"
                    },
                    "body": {
                        "type": "string",
                        "format": "binary"
                    }
                }
            },
            "FileObject": {
                "type": "object",
                "properties": {
                    "CreatedDateUtc": {
                        "type": "string",
                        "description": "Created date in UTC",
                        "example": "2020-12-03T19:04:58.6970000",
                        "x-ballerina-name": "createdDateUtc"
                    },
                    "User": {
                        "allOf": [
                            {
                                "$ref": "#/components/schemas/User"
                            }
                        ],
                        "x-ballerina-name": "user"
                    },
                    "UpdatedDateUtc": {
                        "type": "string",
                        "description": "Updated date in UTC",
                        "example": "2020-12-03T19:04:58.6970000",
                        "x-ballerina-name": "updatedDateUtc"
                    },
                    "Size": {
                        "type": "integer",
                        "description": "Numeric value in bytes",
                        "example": 3615,
                        "x-ballerina-name": "size"
                    },
                    "Id": {
                        "type": "string",
                        "description": "File object's UUID",
                        "format": "uuid",
                        "example": "d290f1ee-6c54-4b01-90e6-d701748f0851",
                        "x-ballerina-name": "id"
                    },
                    "FolderId": {
                        "type": "string",
                        "description": "Folder relation object's UUID",
                        "format": "uuid",
                        "example": "0f8ccf21-7267-4268-9167-a1e2c40c84c8",
                        "x-ballerina-name": "folderId"
                    },
                    "MimeType": {
                        "type": "string",
                        "description": "MimeType of the file (image/png, image/jpeg, application/pdf, etc..)",
                        "example": "image/jpeg",
                        "x-ballerina-name": "mimeType"
                    },
                    "Name": {
                        "type": "string",
                        "description": "File Name",
                        "example": "File2.jpg",
                        "x-ballerina-name": "name"
                    }
                }
            },
            "FileList": {
                "type": "object",
                "properties": {
                    "TotalCount": {
                        "type": "integer",
                        "example": 2,
                        "x-ballerina-name": "totalCount"
                    },
                    "PerPage": {
                        "type": "integer",
                        "example": 50,
                        "x-ballerina-name": "perPage"
                    },
                    "Page": {
                        "type": "integer",
                        "example": 1,
                        "x-ballerina-name": "page"
                    },
                    "Items": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/FileObject"
                        },
                        "x-ballerina-name": "items"
                    }
                }
            },
            "Folder": {
                "required": [
                    "Name"
                ],
                "type": "object",
                "properties": {
                    "Name": {
                        "type": "string",
                        "description": "The name of the folder",
                        "example": "assets",
                        "x-ballerina-name": "name"
                    },
                    "FileCount": {
                        "type": "integer",
                        "description": "The number of files in the folder",
                        "example": 5,
                        "x-ballerina-name": "fileCount"
                    },
                    "Email": {
                        "type": "string",
                        "description": "The email address used to email files to the inbox. Only the inbox will have this element.",
                        "example": "foo@bar.com",
                        "x-ballerina-name": "email"
                    },
                    "IsInbox": {
                        "type": "boolean",
                        "description": "to indicate if the folder is the Inbox. The Inbox cannot be renamed or deleted.",
                        "example": true,
                        "x-ballerina-name": "isInbox"
                    },
                    "Id": {
                        "type": "string",
                        "description": "Xero unique identifier for a folder  Files",
                        "format": "uuid",
                        "example": "4ff1e5cc-9835-40d5-bb18-09fdb118db9c",
                        "x-ballerina-name": "id"
                    }
                }
            }
        },
        "parameters": {
            "requiredHeader": {
                "name": "xero-tenant-id",
                "in": "header",
                "description": "Xero identifier for Tenant",
                "required": true,
                "style": "simple",
                "explode": false,
                "schema": {
                    "type": "string"
                },
                "example": "YOUR_XERO_TENANT_ID",
                "x-snake": "xero_tenant_id",
                "x-ballerina-name": "xeroTenantId"
            },
            "idempotencyKey": {
                "name": "Idempotency-Key",
                "in": "header",
                "description": "This allows you to safely retry requests without the risk of duplicate processing. 128 character max",
                "required": false,
                "style": "simple",
                "explode": false,
                "schema": {
                    "type": "string"
                },
                "example": "KEY_VALUE",
                "x-snake": "idempotency_key",
                "x-ballerina-name": "idempotencyKey"
            }
        },
        "securitySchemes": {
            "OAuth2": {
                "type": "oauth2",
                "description": "For more information",
                "flows": {
                    "authorizationCode": {
                        "authorizationUrl": "https://login.xero.com/identity/connect/authorize",
                        "tokenUrl": "https://identity.xero.com/connect/token",
                        "scopes": {
                            "email": "Grant read-only access to your email",
                            "openid": "Grant read-only access to your open id",
                            "profile": "your profile information",
                            "files": "Grant read-write access to files and folders",
                            "files.read": "Grant read-only access to files and folders"
                        }
                    }
                }
            }
        }
    }
}